.wp-custom-carousel { 
    display: grid;
    grid-template-columns: 100px, 1fr, 100px;
}

.wp-custom-carousel-gallery-wrapper {
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
}

.wp-custom-carousel figure.wp-block-gallery.has-nested-images > figure {
    float: left;
}